<!-----about---->
  <div class="jumbotron about-jumbo jumbotron-fluid text-white">
    <div class="container text-sm-center">
      <div class="searchbox">
        <h1 class="main-title">About Vegeloper</h1>
        <p>
          Nowadays there are more restaurants that cater to "veggies" which is awesome but, nothing is more satisfying
          than making those creations yourself. That's why in 2020, Vegeloper was created to provide delicious recipes
          that fit the vegetarian lifestyle. For whatever reason you decided to start this journey, we can guarantee it
          will be something you won't regret. Being vegetarian does not mean having boring meals. Taco Tuesday can still
          happen with a vegetarian twist. We make it easy with a great selection of recipes to follow. Why not make
          Meatless Mondays everyday with Vegeloper.
        </p>
      </div>
    </div>
  </div>