 <div class="footer py-3">
  <div class="container footer-cont">
    <div class="social-media-contact mt-2">
      <!--CodetheDreamLink-->
      <a href="https://www.codethedream.org/" class="fb-ic mr-3" target="_blank"
        role="button"><img
          src="https://files.rtp.org/wp-content/uploads/2019/10/10164224/CTD_Logo_Primary.png"
          alt="Code The Dream"></a>
    </div>
    <div class="logo-text" onClick="location.href='/';"><span>Vege</span>loper<small>&copy;</small></div>
  </div>
</div>