  <div class="footer py-3">
    <div class="container footer-cont">
      <div class="social-media-contact mt-2 ">
        <!--Facebook-->
        <a class="fb-ic mr-3" role="button"><i class="fab fa-md fa-facebook-f"></i></a>
        <!--Twitter-->
        <a class="tw-ic mr-3" role="button"><i class="fab fa-md fa-twitter"></i></a>
        <!--Instagram-->
        <a class="ins-ic mr-3" role="button"><i class="fab fa-md fa-instagram"></i></a>
      </div>
      <div class="logo-text"><span>Vege</span>loper<small>&copy;</small></div>
    </div>
  </div>