  {{!-- <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" id="recipeModal" tabindex="-1" role="dialog" aria-labelledby="recipeModal"
    aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
      <div class="modal-content">
        
        <div class="additional-recipes">
          <div class="modal-love">You may also love</div>
        </div>
      </div>
    </div>
  </div> --}}