<div class="card-header">
      <h2>Welcome!</h2>
      <div class="container">
        <div class="row">
          <div class="col-xs-6 col-lg-4">
            <img class="img-responsive img_welcome" src="./images/img_recipes.png" alt="">
          </div>
          <div class="col-xs-12 col-lg-8">
            <strong>To mark a recipe as a favorite:</strong>
            <ol>
              <li>Open the desired recipe.</li>
              <li>Tap on the orange heart icon <i class="fas fa-heart" style="color:#ff914d"></i> in the top right-hand
                corner of the screen.
              </li>
              <li>Your recipe is saved and you can find it in your account page.</li>
            </ol>
            <strong>To unfavorite:</strong>
            <ol>
              <li>Tap the heart icon again.</li>
            </ol>
          </div>
        </div>
      </div>
    </div>